.left-right(@left) {
  & {
    position: relative;
  }
  & > .left {
    display: inline-block;
    float: left;
    width: @left;
  }
  & > .right {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding-left: @left + 10px;
  }
}

#message {
  margin: 10px 0;
  .each-message {
    padding: 5px;
    border-bottom: 1px solid #eee;
    .left-right(100px);
    .username {
      color: rgb(255, 99, 71);
    }
  }
}
#write_form {
  #write_input {
    max-width: 768px;
  }
  .main.btn {
    margin-top: 10px;
  }
}