@charset "utf-8";
.pointer {
  cursor: pointer;
}
html,
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
table,
img,
input,
label,
textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
li {
  list-style: none;
}
a,
.a {
  text-decoration: none;
  color: gray;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
a:hover,
a:focus,
a:active,
a.active,
.a:hover,
.a:focus,
.a:active,
.a.active {
  color: #ff6347;
}
.active-color {
  color: #ff6347;
}
textarea,
input {
  border-radius: 0;
}
.desktop .indicator .preloader {
  position: absolute;
  top: 73px;
}
.indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  font-size: 0;
  text-align: center;
}
.indicator.active {
  z-index: 999999999;
  opacity: 1;
}
.indicator:after {
  content: "";
  height: 100%;
}
.indicator:after,
.indicator .preloader {
  display: inline-block;
  vertical-align: middle;
}
.indicator .preloader {
  font-size: 14px;
}
.indicator .preloader {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s step-end infinite;
  animation: preloader-spin 1s step-end infinite;
}
.indicator .preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.indicator .preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%23fff' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
}
@-webkit-keyframes preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  8.33333333% {
    -webkit-transform: rotate(30deg);
  }
  16.66666667% {
    -webkit-transform: rotate(60deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  33.33333333% {
    -webkit-transform: rotate(120deg);
  }
  41.66666667% {
    -webkit-transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  58.33333333% {
    -webkit-transform: rotate(210deg);
  }
  66.66666667% {
    -webkit-transform: rotate(240deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  83.33333333% {
    -webkit-transform: rotate(300deg);
  }
  91.66666667% {
    -webkit-transform: rotate(330deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  8.33333333% {
    transform: rotate(30deg);
  }
  16.66666667% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.33333333% {
    transform: rotate(120deg);
  }
  41.66666667% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.33333333% {
    transform: rotate(210deg);
  }
  66.66666667% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.33333333% {
    transform: rotate(300deg);
  }
  91.66666667% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.xd-confirm.shown {
  z-index: 100000000!important;
}
.xd-alert,
.xd-confirm {
  position: fixed;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0;
  text-align: center;
}
.xd-alert.showing,
.xd-confirm.showing {
  filter: alpha(opacity=100);
  opacity: 1;
}
.xd-alert.shown,
.xd-confirm.shown {
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 99999999;
}
.xd-alert:after,
.xd-confirm:after {
  content: "";
  height: 100%;
}
.xd-alert:after,
.xd-confirm:after,
.xd-alert .xd-container,
.xd-confirm .xd-container {
  display: inline-block;
  vertical-align: middle;
}
.xd-alert .xd-container,
.xd-confirm .xd-container {
  font-size: 14px;
}
.xd-alert > .xd-container,
.xd-confirm > .xd-container {
  position: relative;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
}
.xd-alert > .xd-container .xd-header,
.xd-confirm > .xd-container .xd-header,
.xd-alert > .xd-container .xd-article,
.xd-confirm > .xd-container .xd-article,
.xd-alert > .xd-container .xd-footer,
.xd-confirm > .xd-container .xd-footer,
.xd-alert > .xd-container .xd-close,
.xd-confirm > .xd-container .xd-close {
  padding: 5px;
}
.xd-alert > .xd-container .xd-header,
.xd-confirm > .xd-container .xd-header {
  width: 100%;
  height: 50px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  background-color: #f6f6f6;
}
.xd-alert > .xd-container .xd-article,
.xd-confirm > .xd-container .xd-article {
  width: 100%;
  min-height: 100px;
  padding-bottom: 51px;
}
.xd-alert > .xd-container .xd-footer,
.xd-confirm > .xd-container .xd-footer {
  width: 100%;
  height: 50px;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eee;
}
.xd-alert > .xd-container .xd-footer .btn,
.xd-confirm > .xd-container .xd-footer .btn {
  padding: 6px 40px;
  margin: 0 5px;
}
.xd-alert > .xd-container .xd-footer .btn.btn-side,
.xd-confirm > .xd-container .xd-footer .btn.btn-side {
  background-color: #ff8e7a;
}
.xd-alert > .xd-container .xd-alert-close,
.xd-confirm > .xd-container .xd-alert-close,
.xd-alert > .xd-container .xd-confirm-close,
.xd-confirm > .xd-container .xd-confirm-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 34px;
  height: 34px;
  line-height: 34px;
  width: 34px;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.xd-alert > .xd-container .xd-alert-close:hover,
.xd-confirm > .xd-container .xd-alert-close:hover,
.xd-alert > .xd-container .xd-confirm-close:hover,
.xd-confirm > .xd-container .xd-confirm-close:hover {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  -o-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  transform: rotateX(0) rotateY(0) rotateZ(360deg);
}
.mobile .xd-modal .xd-container {
  top: 120px;
  margin: 0 auto;
  display: block;
}
.xd-modal {
  position: fixed;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0;
  text-align: center;
}
.xd-modal.showing {
  filter: alpha(opacity=100);
  opacity: 1;
}
.xd-modal.shown {
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 99999999;
}
.xd-modal:after {
  content: "";
  height: 100%;
}
.xd-modal:after,
.xd-modal .xd-container {
  display: inline-block;
  vertical-align: middle;
}
.xd-modal .xd-container {
  font-size: 14px;
}
.xd-modal > .xd-container {
  position: relative;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
}
.xd-modal > .xd-container .xd-header,
.xd-modal > .xd-container .xd-article,
.xd-modal > .xd-container .xd-footer,
.xd-modal > .xd-container .xd-close {
  padding: 5px;
}
.xd-modal > .xd-container .xd-header {
  width: 100%;
  height: 50px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  background-color: #f6f6f6;
}
.xd-modal > .xd-container .xd-article {
  width: 100%;
  padding-bottom: 51px;
}
.xd-modal > .xd-container .xd-footer {
  width: 100%;
  height: 50px;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eee;
}
.xd-modal > .xd-container .xd-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  font-size: 34px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.xd-modal > .xd-container .xd-modal-close:hover {
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  -o-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(360deg);
  transform: rotateX(0) rotateY(0) rotateZ(360deg);
}
.form-group {
  margin: 10px auto;
  position: relative;
}
.form-group:before,
.form-group:after {
  content: " ";
  display: table;
}
.form-group:after {
  clear: both;
}
.form-group .icon {
  position: absolute;
  top: 0;
  right: 12px;
  line-height: 34px;
}
.form-group .icon.ion-ios-close-empty {
  font-size: 34px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #ff6347;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="radio"],
input[type="checkbox"] {
  line-height: 34px;
  vertical-align: middle;
  height: 34px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-color: #ff6347;
  color: #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: #ff8e7a;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-button {
  display: none;
}
body::-webkit-scrollbar-track {
  display: none;
}
body::-webkit-scrollbar-track-piece {
  display: none;
}
body::-webkit-scrollbar-thumb {
  background: #ff8e7a;
}
body::-webkit-scrollbar-corner {
  display: none;
}
body::-webkit-resizer {
  display: none;
}
.sr-only {
  width: 0;
  height: 0;
}
.hide {
  display: none;
}
.pages {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
.pages .page-block {
  margin: 15px auto;
}
.pages .page-block .each-header {
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 3px 3px 0 0;
}
.pages .page-block .each-header .big-size {
  font-size: 20px;
  font-weight: 700;
}
.pages .page-block .each-header .changes {
  font-size: 14px;
  margin-top: 5px;
  color: #838383;
}
.pages .page-block .each-header .type {
  padding: 0 5px;
}
.pages .page-block .each-inner {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 0 0 3px 3px;
}
.pages .page-block .each-inner .each-article pre {
  max-width: 100%;
  width: 100%;
  overflow: auto;
  background: #f5f5f5;
  padding: 5px;
  -webkit-overflow-scrolling: touch;
}
.pages .page-block .each-inner .articles .article {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.pages .page-block .each-inner .articles .article:first-child {
  padding-top: 0;
}
.pages .page-block .each-inner .articles .article:last-child {
  padding-bottom: 0;
}
.pages .page-block .each-inner .articles .article + .article {
  border-top: 1px solid #eee;
}
.pages .page-block .each-inner .articles .article .title {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.pages .page-block .each-inner .articles .article .time {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 24px;
  text-align: right;
}
.pages .page-block .each-inner .replys {
  font-size: 14px;
}
.pages .page-block .each-inner .replys .each-reply {
  padding: 10px 0;
  position: relative;
}
.pages .page-block .each-inner .replys .each-reply > .left {
  display: inline-block;
  float: left;
  width: 50px;
}
.pages .page-block .each-inner .replys .each-reply > .right {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 60px;
}
.pages .page-block .each-inner .replys .each-reply .sub-reply {
  margin-top: 10px;
  padding-left: 60px;
}
.pages .page-block .each-inner .replys .each-reply .sub-reply .each-reply {
  border-top: 1px solid #ccc;
}
.pages .page-block .each-inner .replys .each-reply .sub-reply .each-reply:first-child {
  padding-top: 10px;
}
.pages .page-block .each-inner .replys .each-reply > .left {
  height: 50px;
}
.pages .page-block .each-inner .replys .each-reply > .right .word {
  min-height: 50px;
}
.pages .page-block .each-inner .replys .each-reply > .right .word .user {
  color: tomato;
  margin-bottom: 5px;
}
.pages .page-block .each-inner .replys .each-reply > .right .word .user .nomal-color {
  color: #000011;
}
.pages .page-block .each-inner .replys .each-reply > .right .message {
  text-align: right;
  color: #838383;
}
.pages .page-block .each-inner .replys .each-reply > .right .message > span + span {
  margin-left: 5px;
}
.pages .page-block .each-inner .replys .each-reply > .right .message > span:before {
  margin-right: 2px;
}
.pages .page-block .each-inner .replys .each-reply + .each-reply {
  border-top: 1px solid #ccc;
}
.pages .page-block .each-inner .replys .each-reply:first-child {
  padding-top: 0;
}
.pages .page-block .each-inner .replys .each-reply:last-child {
  padding-bottom: 0;
}
.pages .page-block .each-inner .reply-button {
  margin-top: 5px;
  float: right;
}
.pages .page-block .each-inner .reply-textarea {
  margin-top: 5px;
  height: 100px;
  resize: vertical;
}
.pages .page-block .each-inner .reply-floor {
  display: none;
}
.pages .page-block .each-inner .reply-floor.show {
  display: block;
}
.pages .view-left,
.pages .view-right {
  position: absolute;
  opacity: 0;
}
.pages .view-left,
.pages .view-center,
.pages .view-right {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.pages .view-center {
  opacity: 1;
}
.each-article .syntaxhighlighter {
  border-radius: 0 !important;
  border: 1px solid #eee !important;
}
/* .ds-thread {
    background-color: @bg-page!important;
    border-radius: 3px 3px 3px 3px!important;
    padding-bottom: 10px!important;
    #ds-reset {
        & > * {
            -webkit-box-sizing: border-box!important;
            box-sizing: border-box!important;
        }
        .ds-meta {
            .hide!important;
        }
        .ds-comments-info {
            padding: 10px!important;
            background-color: #f6f6f6!important;
            border-radius: 3px 3px 0 0!important;
            .ds-sort {
                right: 10px!important;
                top: inherit!important;
            }
        }
        .ds-comments {
            margin: 0 10px!important;
            width: auto!important;
            & > .ds-post {
                .ds-children {
                    margin-left: 40px!important;
                }
                .ds-post-self {
                    padding: 10px 0px!important;
                }
                &:first-child {
                    border-top: 0!important;
                }
            }
            .ds-comment-body {
                .ds-comment-header {
                    .ds-user-name {
                        color: #00a3cf!important;
                    }
                }
                .ds-comment-footer {
                    .ds-post-likes, .ds-post-report {
                        .hide!important;
                    }
                }
                .ds-post-delete {
                    margin: 0!important;
                }
                .ds-replybox {
                    padding: 0 2px 0 50px!important;
                }
            }
        }
        .ds-login-buttons {
            padding: 10px 10px!important;
            .ds-service-list {
                li:last-child {
                    .hide!important;
                }
            }
        }
        .ds-powered-by {
            .hide!important;
        }
        .ds-toolbar {
            padding: 8px 10px!important;
        }
        .ds-replybox {
            padding: 0 10px 0 50px!important;
            .ds-avatar {
                left: 0!important;
            }
            .ds-post-toolbar {
                .ds-post-options {
                    .ds-sync {
                        .hide!important;
                    }
                }
            }
        }
    }
}
#ds-wrapper {
    .ds-dialog {
        .ds-dialog-inner {
            .ds-dialog-body {
                padding: 0 30px 20px!important;
                h2 {
                    border-bottom: 1px solid #eee!important;
                    margin: 0!important;
                    padding: 15px!important;
                    text-align: center!important;
                }
                .ds-icons-32 {
                    margin: 0!important;
                }
            }
            .ds-dialog-footer {
                .hide!important;
            }
            .ds-dialog-close {
                top: 13px!important;
            }
            .ds-actions {
                label {
                    input {
                        top: 2px!important;
                        position: relative!important;
                        right: 2px!important;
                    }
                    .ds-service-icon {
                        .hide!important;
                    }
                }
            }
        }
    }
} */
/* === Preloader === */
.nav[index='0'] .slider-nav {
  -webkit-transform: translate(0%, 0);
  -moz-transform: translate(0%, 0);
  -o-transform: translate(0%, 0);
  -ms-transform: translate(0%, 0);
  transform: translate(0%, 0);
}
.nav[index='0'] a[data-index='0'] {
  color: #e6e6e6;
}
.nav[index='1'] .slider-nav {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.nav[index='1'] a[data-index='1'] {
  color: #e6e6e6;
}
.nav[index='2'] .slider-nav {
  -webkit-transform: translate(200%, 0);
  -moz-transform: translate(200%, 0);
  -o-transform: translate(200%, 0);
  -ms-transform: translate(200%, 0);
  transform: translate(200%, 0);
}
.nav[index='2'] a[data-index='2'] {
  color: #e6e6e6;
}
.nav[index='3'] .slider-nav {
  -webkit-transform: translate(300%, 0);
  -moz-transform: translate(300%, 0);
  -o-transform: translate(300%, 0);
  -ms-transform: translate(300%, 0);
  transform: translate(300%, 0);
}
.nav[index='3'] a[data-index='3'] {
  color: #e6e6e6;
}
::selection {
  background: #ff8e7a;
  color: #fff;
}
::-moz-selection {
  background: #ff8e7a;
  color: #fff;
}
body {
  background: url(/static/img/bodybg.jpg) center;
}
body.loading {
  overflow: hidden;
}
header.header {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 50px;
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
  background: -webkit-gradient(linear, left top, right top, from(#333333), to(#333333));
  background: -webkit-linear-gradient(top, #333333, #333333);
  background: -moz-linear-gradient(top, #333333, #333333);
  background: -o-linear-gradient(top, #333333, #333333);
  background: -ms-linear-gradient(top, #333333, #333333);
  background: linear-gradient(top, #333333, #333333);
  background-color: #333333;
}
header.header .nav {
  height: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative;
  padding-right: 200px;
}
header.header .nav .header-side {
  position: absolute;
  width: 200px;
  height: 100%;
  line-height: 50px;
  color: #ffffff;
  cursor: pointer;
  right: 0;
  text-align: right;
  padding-right: 5px;
}
header.header .nav .header-side .signout {
  margin-left: 5px;
}
@media screen and (max-width: 500px) {
  header.header .nav {
    padding-right: 0;
  }
  header.header .nav .header-side {
    visibility: hidden;
    width: 0;
  }
}
header.header .nav .nav-list-container {
  height: 100%;
  width: 100%;
  position: relative;
}
header.header .nav .nav-list-container .slider-nav {
  background-color: #ff6347;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
header.header .nav .nav-list-container .nav-list {
  height: 100%;
  width: 100%;
  position: relative;
}
header.header .nav .nav-list-container .nav-list .each-nav {
  float: left;
  cursor: pointer;
  color: #e6e6e6;
  width: 25%;
  height: 100%;
  line-height: 50px;
  text-align: center;
}
header.header .nav .nav-list-container .nav-list .each-nav:hover {
  color: #ff6347;
}
article.container {
  padding: 50px 0 5px 0;
  min-height: 90%;
  min-height: -moz-calc(100% - 50px);
  min-height: -webkit-calc(100% - 50px);
  min-height: calc(100% - 50px);
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.pjaxloader {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.pjaxloader .preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
}
footer.footer {
  min-height: 50px;
  background-color: #ffffff;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
footer.footer .content {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
footer.footer .content a {
  color: #000;
}
footer.footer .content a:hover {
  color: #ff6347;
}
#SIGN .xd-container {
  background-color: transparent;
}
#SIGNIN,
#REGISTER {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  -o-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(180deg) rotateZ(0);
  transform: rotateX(0) rotateY(180deg) rotateZ(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
}
#SIGNIN.active,
#REGISTER.active {
  z-index: 2;
  opacity: 1;
  height: auto;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
}
#SIGNIN .form-group,
#REGISTER .form-group {
  width: 80%;
  position: relative;
}
#SIGNIN .xd-footer .aside,
#REGISTER .xd-footer .aside {
  margin-left: 20px;
}
#SIGNIN .xd-footer .qq-weibo,
#REGISTER .xd-footer .qq-weibo {
  position: relative;
}
#SIGNIN .xd-footer .qq-weibo img,
#REGISTER .xd-footer .qq-weibo img {
  position: relative;
  display: inline-block;
  top: 8px;
  width: 24px;
}
.mobile .qq-weibo {
  display: none;
}
.btn.main {
  padding: 6px 40px;
}
.btn:hover {
  color: #fff;
  background-color: #ff3814;
}
.btn[disabled],
.btn[disabled]:hover {
  background-color: #e1e1e1;
}
.icon.active {
  color: #ff6347;
}
.pull-left {
  float: left!important;
}
.pull-right {
  float: right!important;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}
.pagination {
  margin: 10px auto 0;
  display: inline-block;
}
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}
.pagination:after {
  clear: both;
}
.pagination > li {
  float: left;
}
.pagination > li.active a {
  color: #ff6347;
}
.pagination > li a {
  padding: 5px 8px;
  line-height: 22px;
}
.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#page_loading {
  position: absolute;
  z-index: 100000000;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  top: 0;
  left: 0;
}
/*# sourceMappingURL=layout.css.map */