{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}
    设置
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/pages/account/account.css' %}">
{% endblock %}

{% block content %}
    <div class="pages" id="MAIN_APP" title="设置">
        <div class="page-block">
            <div class="each-header">
                <span class="big-size">修改个人资料</span>
            </div>
            <div class="each-inner">
                <form id="ACCOUNT_SETTING" enctype="multipart/form-data" method="POST" class="form" name="SETTING" action="{% url 'account:setting' %}">
                    {% csrf_token %}
                    <article class="xd-article">
                        <div class="form-group">
                            <label class="form-label" for="setting_username">用户名</label>
                            <input class="form-control" id="setting_username" name="username" type="text" placeholder="用户名" value="{{ profile.username }}" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="setting_email">邮箱</label>
                            <input class="form-control" id="setting_email" name="email" type="email" placeholder="邮箱" value="{{ profile.email }}" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="setting_firstname">名</label>
                            <input class="form-control" id="setting_firstname" name="firstname" type="text" placeholder="名" value="{{ profile.first_name }}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="setting_lastname">姓</label>
                            <input class="form-control" id="setting_lastname" name="lastname" type="text" placeholder="姓" value="{{ profile.last_name }}">
                        </div>
                        <div class="form-group" id="setting_sex">
                            <label class="form-label" for="setting_sex">性别</label>
                            <input id="setting_sex_0" name="sex" type="radio" value="0" has-checked="{% ifequal profile.sex 0 %}true{% endifequal %}">男
                            <input id="setting_sex_1" name="sex" type="radio" value="1" has-checked="{% ifequal profile.sex 1 %}true{% endifequal %}">女
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="setting_pic">头像</label>
                            <label class="head-pic text-left" for="setting_pic"><img id="change_pic" src="/media/{{ profile.pic }}" alt=""></label>
                            <input class="hide" id="setting_pic" name="pic" type="file">
                        </div>
                        <div class="form-group">
                            <label class="form-label width-0"></label>
                            <button class="setting-button main btn" type="submit">保存设置</button>
                        </div>
                    </article>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
